.body {
     margin: 0 auto;
    background: #fafaef;
}
h4 {margin: 5px;}
p[id="web"] { margin: 5px; 
    font-family: 'ELAND_Choice_M';
}
.logo {
    text-decoration: none !important;
    color: black;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Cafe24Dangdanghae';
}
.description {
    font-size: 15px; 
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'MapoFlowerIsland';
}
#content {
    text-align: center;
    width: 800px;
    margin: 0 auto;
}
.main-head {
    padding: 50px 0; margin: 20px;
    font-family: 'Cafe24Ohsquare';
}
.main-middle{
    margin:50px 100px; 
    text-align: left;
}
#main-middle{
    font-size: 13px;
}

.map{
    margin-top: 70px;
    text-align: center;
}
.map p{
    margin: 5px;
}
button[id="reservation"] {
    width: 250px; height: 40px;
    margin: 50px;
    background-color: lightgrey;
    border-radius: 5px;
    border: 0;
    font-family: 'ELAND_Choice_M';
}
div[id="modal"] {
    background: #fafaef;
}
.modal-middle{
    margin:30px 40px 50px 50px; 
    text-align: left;
    font-size: 14px;
    font-family: 'ELAND_Choice_M';
}
.modal-cancel{
    margin: 70px 50px; 
    font-family: 'ELAND_Choice_M';
}
button[id="modal"] {
    width: 100px; height: 40px;
    margin: 21px;
    background-color: lightgrey;
    border-radius: 5px;
    border: 0;
    font-family: 'ELAND_Choice_M';
}
button[id="close"] {
    float: right;
    margin: 10px;
    width: 20px; height: 20px;
    background-color: #fafaef;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    font-family: 'ELAND_Choice_M';
}

@font-face {
    font-family: 'Cafe24Dangdanghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}